
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url(../font/IRANSansWeb_light.woff) format("woff");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url(../font/IRANSansWeb_medium.woff) format("woff");
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url(../font/IRANSansWeb_ultraLight.woff) format("woff");
}


